/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
# Spring Boot / Maven
**/target/
*.class
*.log

# Vue / Node
**/node_modules/
**/dist/

# IntelliJ IDEA
**/.idea/
*.iml

# VS Code
.vscode/